<div class="row">
  <div class="span6 offset3">
    <%= form_for @team do |f| %>
      <%= render 'shared/error_messages', entity: @team %>
        <p>
          <b>Edit Team Name</b> <br/>
            <%= f.label :team_name %>
            <%= f.text_field :team_name %>
        </p>

        <%= f.fields_for :wattballs do |players| %>
          <p>
            <b>Edit Player</b> <br/>
            <%= render "wattball_fields", :f => players %>
          </p>
        <% end %>

        <p><%= link_to_add_player "Add Player", f, :wattballs %>

        <p><%= f.submit "Submit" %></p>
    <% end %>
  </div>
</div>
