<% provide(:title, 'All wattball teams') %>
<h1> All Wattball Teams</h1>

<table class ="table table-striped" border = "3" cellpadding = "3" align = "center">
	<tr>
		<th>Name</th>
		<th>Points</th>
		<th>Played</th>
		<th>Wins</th>
		<th>Draws</th>
		<th>Losses</th>
		<th>Goals For</th>
		<th>Goals Against</th>
		<th>Goal Difference</th>
	</tr>
	<% @teams.each do |team| %>
		<% win = draw = loss = gfor = gagainst = 0 %>
		<% @matches.each do |match| %>
			<% if match.homeTeam == team.id and not match.homeGoals == nil%>
				<% gfor += match.homeGoals %>
				<% gagainst += match.awayGoals %>
				<% if match.homeGoals > match.awayGoals%>
					<% win += 1 %>
				<% elsif match.homeGoals < match.awayGoals%>
					<% loss += 1 %>
				<% elsif match.homeGoals == match.awayGoals%>
					<% draw += 1 %>
				<% end %>

			<% elsif match.awayTeam == team.id and not match.awayGoals == nil%>
				<% gfor += match.awayGoals %>
				<% gagainst += match.homeGoals %>
				<% if match.homeGoals > match.awayGoals%>
					<% loss += 1 %>
				<% elsif match.homeGoals < match.awayGoals%>
					<% win += 1 %>
				<% elsif match.homeGoals == match.awayGoals%>
					<% draw += 1 %>
				<% end %>
			<% end %>
		<% end %>
		<tr>
			<td><%= link_to team.team_name, team %></td>
			<td><%= (win * 3)+(draw * 1)+(loss * 0) %></td>
			<td><%= win + draw + loss %></td>
			<td><%= win %></td>
			<td><%= draw %></td>
			<td><%= loss %></td>
			<td><%= gfor %></td>
			<td><%= gagainst %></td>
			<td><%= gfor - gagainst %></td>
		</tr>
	<% end %>
</table>

