<% provide(:title, 'All wattball teams') %>
<h1> All Wattball Teams</h1>

<table border="3" cellpadding="3">
	<tr bgcolor="yellow">
		<th>Name</th>
		<th>Points</th>
		<th>Played</th>
		<th>Wins</th>
		<th>Draws</th>
		<th>Losses</th>
		<th>Goals For</th>
		<th>Goals Against</th>
		<th>Goal Difference</th>
	</tr>
	<% @teams.each do |team| %>
		<tr>
			<td><%= link_to team.team_name, team %></td>
			<td><%= (team.wins * 3)+(team.draws * 1)+(team.losses * 0) %></td>
			<td><%= team.wins + team.losses + team.draws%></td>
			<td><%= team.wins %></td>
			<td><%= team.draws%></td>
			<td><%= team.losses%></td>
			<td><%= team.goalsfor %></td>
			<td><%= team.goalsagainst %></td>
			<td><%= team.goalsfor - team.goalsagainst %></td>
		</tr>
	<% end %>
</table>

