<% provide(:title, 'All wattball teams') %>
<h1> All Wattball Teams</h1>
<% if Team.count == 0 %>
	<h2> No Teams Registered Yet! </h2>
<% else %>
	<table class ="table table-striped" border = "3" cellpadding = "3" align = "center">
		<tr>
			<th>Name</th>
			<th><%= sortable_matches "points" , Team , "Points" %></th>
			<th><%= sortable_matches "played", Team, "Played" %></th>
			<th><%= sortable_matches "wins", Team, "Wins" %></th>
			<th><%= sortable_matches "draws", Team, "Draws" %></th>
			<th><%= sortable_matches "losses", Team, "Losses" %></th>
			<th><%= sortable_matches "goalsfor", Team, "Goals For" %></th>
			<th><%= sortable_matches "goalsagainst", Team, "Goals Against" %></th>
			<th><%= sortable_matches "goalsdif", Team, "Goal Difference" %></th>
		</tr>
		<% first_id =Team.order("points DESC").first.id %>
		<% if Team.count > 1 %>
			<% second_id = Team.order("points DESC").second.id %>
		<% end%>
		<% if Team.count > 2 %>
			<% third_id = Team.order("points DESC").third.id %>
		<%end%>
		<% @teams.each do |team| %>
			<tr>
				<td><%= link_to team.team_name, team %></td>
				<td><%= team.points %></td>
				<td><%= team.wins + team.draws + team.losses %></td>
				<td><%= team.wins %></td>
				<td><%= team.draws %></td>
				<td><%= team.losses %></td>
				<td><%= team.goalsfor %></td>
				<td><%= team.goalsagainst %></td>
				<td><%= team.goalsdif %></td>
				<% if Team.count > 2 %>
					<% if first_id == team.id %>
						<td><%= image_tag("gold.jpg", :alt => "rss feed",:size => "15x25") %></td>
					<% elsif second_id == team.id %>
						<td><%= image_tag("silver.jpg", :alt => "rss feed",:size => "15x25") %></td>
					<% elsif third_id == team.id %>
						<td><%= image_tag("all-medals.jpg", :alt => "rss feed",:size => "15x25") %></td>
					<% end %>
				<%end%>
			</tr>
		<% end %>
	</table>
<% end %>
