<% provide(:title, 'All wattball teams') %>
<h1> All Wattball Teams</h1>

<table class ="table table-striped" border = "3" cellpadding = "3" align = "center">
	<tr>
		<th>Name</th>
		<th>Points</th>
		<th>Played</th>
		<th>Wins</th>
		<th>Draws</th>
		<th>Losses</th>
		<th>Goals For</th>
		<th>Goals Against</th>
		<th>Goal Difference</th>
	</tr>
	<% @teams.each do |team| %>
		<tr>
			<td><%= link_to team.team_name, team %></td>
			<td><%= team.points %></td>
			<td><%= team.wins + team.draws + team.losses %></td>
			<td><%= team.wins %></td>
			<td><%= team.draws %></td>
			<td><%= team.losses %></td>
			<td><%= team.goalsfor %></td>
			<td><%= team.goalsagainst %></td>
			<td><%= team.goalsdif %></td>
		</tr>
	<% end %>
</table>

