<% provide(:title , 'Wattball team registration') %>
<h1>WattBall Team registration</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@team) do |f| %>
      <%= render 'shared/error_messages', entity: @team %>
      <p>
        <b>New Team</b> <br/>
        <%= f.label :team_name %>
        <%= f.text_field :team_name %>
      </p>
      <%= f.fields_for :wattballs do |players| %>
        <p>
          <b>New Player</b> <br/>
          First Name: <%= players.text_field :first_name %>
          Last Name: <%= players.text_field :last_name %>
        </p>
      <% end %>
      <%= f.submit "Register team", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
