<% provide(:title, @team.team_name) %>
<div class = "row">
    <aside class = "span4">
	<section>	
	    <h1>
		Team Name: <%= @team.team_name %>
		<br />
	    </h1>
	    <table class ="table table-striped" border = "3" cellpadding = "3" align = "center">
  		<thead>
		  <tr>
		    <th><%= sortable "first_name", Wattball, "First Name" %></th>
		    <th><%= sortable "goals", Wattball, "Goals Scored" %></th>
		  </tr>
      		</thead>
		<tbody>
		  <% @team.wattballs.each do |player| %>
			<tr>
			  <td><%= player.first_name + " "+ player.last_name%></td>
			  <td><%= player.goals %></td>
			</tr>
      		</tbody>
      		<% end %>
	    </table>
	</section>
    </aside>
</div>

  
