<% provide(:title, "Wattball Members") %>
<head>
  <h2> Wattball Players </h2>
</head>
<body>
<table class ="table table-striped" border = "3" cellpadding = "3" align = "center">
  <thead>
    <tr>
      <th><%= sortable "first_name", Wattball, "First Name" %></th>
      <th><%= sortable "last_name", Wattball, "Last Name" %></th>
      <th><%= sortable "team_name", Team, "Member of Team" %></th>
      <th><%= sortable "goals", Wattball, "No. Of Goals" %></th>
      <th colspan= "3"><%= sortable "id", Wattball, "Options" %></th>
    </tr>
  </thead>
  <tbody>
    <% for wattball in @wattballs %>
    <tr>
      <td><%= wattball.first_name %></td>
      <td><%= wattball.last_name %></td>
      <td><%= Team.find(wattball.team_id).team_name %></td>
      <td><%= wattball.goals %></td>
      <td><%= link_to "Show", [:admin,wattball]%></td>
      <td><%= link_to "Add Goals", edit_admin_wattball_path(wattball) %></td>
      <td><%= link_to "Delete", [:admin,wattball], :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
</tbody>
<% end %>
</table>
</section>
</body>
<p><%= link_to "New player", new_admin_wattball_path %></p>


