<% provide(:title, "Sign in- Admin") %>
<h1>Sign in - Admin</h1>

<div class = "row">
	<div class = "span6 offset3">
		<%= form_for(:staff_session, url: admin_staff_sessions_path) do |f| %>
			
			<%= f.label :user_name %>
			<%= f.text_field :user_name %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
