<% provide(:title, @heat.time.strftime('%e %b %Y %k:%M:%S')) %>
<div class = "row">
  <aside class = "span4">
    <section>
      <h1>
        When: <%= @heat.time.strftime('%e %b %Y %k:%M:%S') %> <br />
        Round: <%= @heat.round %> <br />
        Hurdle Racers:
        <ul>
          <% @heat.hurdles.each do |hurdle| %>
            <% heat_hurdle = HeatHurdle.find_by_heat_id_and_hurdle_id(@heat,hurdle.id)
                finish_time = heat_hurdle.finish_time
                lane = heat_hurdle.lane
            %>
            <li><%= hurdle.name %>, lane: <%= lane %>
                <% if finish_time!=nil %>
                <%=  "finishing time: " %>
                <%= finish_time.strftime('%H:%M:%S') if finish_time!=nil %>
            <% end %></li>
          <% end %>
        </ul>
      </h1>
    </section>
  </aside>
</div>
