<%= form_for ([:admin, @hurdle]) do |f| %>
  <%= render 'shared/error_messages', entity: @hurdle %>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>

    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
    
  <p> Qualification time must be given in the format HH:MM:SS </p>
    <%= f.label :qualification %><br />
    <%= f.text_field :qualification %>

    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
    
    <%= f.hidden_field :user_id, :value => params[:user_id] %>
  </p>
  <p><%= f.submit %></p>
<% end %>
