<h1>Staff Dashboard</h1>
<ul>
  <li><%= link_to 'Manage Users', admin_users_path %></li>
  <li><%= link_to 'Manage Teams', admin_teams_path %></li>
  <li><%= link_to 'Manage Schedules', admin_matches_path %> </li>
  <li><%= link_to 'Manage Hurdles', admin_hurdles_path %> </li>
  <li><%= link_to 'Manage Umpires', admin_umpires_path %> </li>
  <li><%= link_to 'Manage Tickets', admin_tickets_path %> </li>
</ul>

<br /> <br />
<%= link_to "Sign out", admin_staffsignout_path, method: "delete" %>

