<%= form_for([:admin,@match]) do |f| %>
  <%= render 'shared/error_messages', entity: @match %> 

  <div class="field">
	<%= f.label :when %><br />
    <%= f.datetime_select :when %>
  </div>
  <div class="field">
    <%= f.label :homeTeam %><br />
	<select name="match[homeTeam]">
		<% Team.all.each do |homeTeam| %>
			<option value="<%= homeTeam.team_name %>"><%= homeTeam.team_name %></option>
		<% end %>
	</select>
  </div>
  <div class="field">
    <%= f.label :homeGoals %><br />
    <%= f.number_field :homeGoals %>
  </div>
  <div class="field">
    <%= f.label :awayTeam %><br />
    <select name="match[awayTeam]">
		<% Team.all.each do |awayTeam| %>
			<option value="<%= awayTeam.team_name %>"><%= awayTeam.team_name %></option>
		<% end %>
	</select>
  </div>
   <div class="field">
    <%= f.label :awayGoals %><br />
    <%= f.number_field :awayGoals %>
  </div>
  <div class="field">
    <%= f.label :pitch %><br />
    <%= f.number_field :pitch %>
  </div>
  <div class="field">
    <%= f.label :umpire %><br />
    <select name="match[umpire]">
		<% Umpire.all.each do |umpire| %>
			<option value="<%= umpire.first_name + " " + umpire.last_name %>"><%= umpire.first_name + " " + umpire.last_name %></option>
		<% end %>
	</select>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
