<%= form_for([:admin,@match]) do |f| %>
  <%= render 'shared/error_messages', entity: @match %> 
  <div class="field">
    <%= f.label :homeGoals %><br />
    <%= f.number_field :homeGoals, min: 0, max: 10%>
  </div>
   <div class="field">
    <%= f.label :awayGoals %><br />
    <%= f.number_field :awayGoals, min: 0, max: 10%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
