<%= form_for([:admin,@match]) do |f| %>
  <%= render 'shared/error_messages', entity: @match %> 

<div id = "container" >
  <div id="v-div" style = "height:100%;width:50%;float:left;" >
    <h2><%= Team.find(@match.homeTeam).team_name %> <%= @match.homeGoals %> </h2>
       <div class="field">
	 <%= f.label :homeGoals %><br />
	 <%= f.number_field :homeGoals,value: 0, min: 0, max: 10%>
       </div>

  </div >

  <div id="v-div2" style = "height:100%;width:50%;float:right;" >
    <h2> <%= Team.find(@match.awayTeam).team_name %> <%= @match.awayGoals %> </h2>
       <div class="field">
	 <%= f.label :awayGoals %><br />
	 <%= f.number_field :awayGoals,value: 0, min: 0, max: 10%>
       </div>
  </div >
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
