<h1>Listing matches</h1>

<table class ="table table-striped" border = 3 cellpadding = 3>
    <tr bgcolor="grey">
        <th><%= sortable "when", Match, "Date" %></th>
        <th>Time</th>
        <th>Pitch</th>
        <th>Umpire</th>
        <th>Team1</th>
        <th>Team1 Goals</th>
        <th>Team2</th>
        <th>Team2 Goals</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <% @matches.each do |match| %>
        <tr>
            <% if (match.when == nil) %>
                <td>No date</td>
                <td>No time</td>
            <% else %>
                <td><%= match.when.strftime('%e %b %Y') %></td>
                <td><%= match.when.strftime('%H:%M:%S') %></td>
            <% end %>
            <td><%= match.pitch %></td>
            <td><%= match.umpire %></td>
            <td><%= match.homeTeam %></td>
            <td><%= match.homeGoals %></td>
            <td><%= match.awayTeam %></td>
            <td><%= match.awayGoals %></td>
            <td><%= link_to 'Show', [:admin,match] %></td>
            <td><%= link_to 'Edit', edit_admin_match_path(match) %></td>
            <td><%= link_to 'Destroy', [:admin,match], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>


<%= link_to 'New Match', new_admin_match_path, class: "btn btn-large btn-primary" %>
<%= link_to 'Generate New Schedule', new_admin_match_path, class: "btn btn-large btn-primary" %>
