<h1>Listing matches</h1>

<table>
  <tr>
    <th>Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Home Team &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Away Team &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Pitch &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Umpire &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Home Goals &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Away Goals &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<br />

<p>
<% @schedule.generate %>
<%  puts @schedule.to_s %>
<%  @schedule.gamedays.each do |gd| %>
<%  puts "\n" %>
<%  puts "Date: " %>
<% puts gd.date.strftime("%Y/%m/%d") %>
<%  puts "\n" %>
<%  gd.games.each do |g| %>
<%    puts "Home: " + g.team_a.to_s + " Vs Away: " + g.team_b.to_s + " Pitch: ##{g.playing_surface} Kick-off: #{g.game_time.strftime("%I:%M %p")}" %>
<% end %>
<%  puts "\n" %>
<% end %>
<%= @schedule %>
</p>

<br />

<% @matches.each do |match| %>
  <tr>
    <td><%= match.when %></td>
    <td><%= match.homeTeam %></td>
    <td><%= match.awayTeam %></td>
    <td><%= match.pitch %></td>
    <td><%= match.umpire %></td>
    <td><%= match.homeGoals %></td>
    <td><%= match.awayGoals %></td>
    <td><%= link_to 'Show', [:admin,match] %></td>
    <td><%= link_to 'Edit', edit_admin_match_path(match) %></td>
    <td><%= link_to 'Destroy', [:admin,match], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<%= link_to 'New Match', new_admin_match_path, class: "btn btn-large btn-primary" %>
<%= link_to 'Generate New Schedule', new_admin_match_path, class: "btn btn-large btn-primary" %>
