<% provide(:title , 'New Heat Result') %>
<h1>New Heat Result</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@heat_result) do |f| %>
      <%= render 'shared/error_messages', entity: @heat_result %>

      <%= f.label :result_time %>
      <%= f.text_field :result_time %>

      <%= f.label :hurdle_id %>
      <%= collection_select(
        @heat_result, :hurdle_id, 
        Heat.find(:heat_id).hurdles(:order=>"first_name ASC"), :id, :name,
        { :selected => @heat_result.hurdle_id},
      ) %>

      <%= f.hidden_field :heat_id, :value => params[:heat_id] %>
      <br /><br />
      <%= f.submit "create new heat result", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
