<% provide(:title, @user.first_name) %>
<div class = "row">
  <aside class = "span4">
    <section>	
      <h1>
        <%= gravatar_for @user %>
        <%= @user.first_name %>
        <%= @user.last_name %>
      </h1>
    </section>
  </aside>
</div>
<%= render 'shared/wattball_or_hurdles' %>


<% a = Hurdle.find_by_user_id(current_user.id).id %> 
<% a = HeatHurdle.find_by_hurdle_id(a).heat_id %>
<%= Heat.find(a).time %>
<p> Participants Related to <%= @user.first_name %></p>
  <table class ="table">
    <% if current_user.sport == "hurdles" %>
    <thead>
      <tr>
	<th>Name</th>
	<th>Qualification</th>
      </tr>
    </thead>
      <tbody>
	<% @user.hurdles.each do |hurdle| %>
	<tr>
	  <td><%= hurdle.first_name + " " + hurdle.last_name %></td>
	  <td><%= hurdle.qualification %>
	</tr>
	<% end %>
	<tr>
      </tbody>
  </table>
<% end %>
 <% if current_user.sport == "wattball" %>
    <thead>
      <tr>
	<th>Name</th>
      </tr>
    </thead>
      <tbody>
	<% @user.teams.each do |team| %>
	<tr>
	  <td><%= team.team_name %></td>
	</tr>
	<% end %>
	<tr>
      </tbody>
  </table>
<p>

<% end %>
