# coding: utf-8  
<% provide(:title, @user.first_name) %>
<div class = "row">
  <aside class = "span4">
    <section>	
      <h1>
        <%= gravatar_for @user %>
        <%= @user.first_name %>
        <%= @user.last_name %>
      </h1>
    </section>
  </aside>
</div>
<%= render 'shared/wattball_or_hurdles' %>

<% if current_user.sport == "wattball" %>
<% if free_tickets_today(current_user.id) %>
<% if !is_sent?(current_user.email) %>
<% ticket_t = {ticket: {first_name: current_user.first_name,last_name: current_user.last_name,email: current_user.email,order_id: generate_ticket_id,adult_tickets_bought: 1, concession_tickets_bought: 0,ticket_date: Date.today,ticket_type: "free"}} %>

<%= link_to "Send free tickets for todays match", tickets_send_mail_path(ticket_t),class: "btn btn-large btn-success pull-right",method: :post%>
<% end %>
<% end %>
<% end %>

<% if current_user.sport == "wattball" %>
<h3> <%= Team.find_by_user_id(@user.id).team_name %> Schedule </h3>
<table class ="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Home Team</th>
      <th>Away Team</th>
    </tr>
  </thead>
  <tbody>
    <% t_id = Team.find_by_user_id(@user.id).id %>
    <% m = Match.arel_table %>
    <% match = Match.where(m[:homeTeam].eq(t_id).or(m[:awayTeam].eq(t_id))) %>
    <% match.each do |m_info| %>
    <tr>
      <td><%= m_info.when.strftime('%e %b %Y') %></td>
      <td><%= m_info.when.strftime('%H:%M:%S') %></td>
      <td><%= m_info.when %></td>
      <td><%= Team.find(m_info.homeTeam).team_name %></td>
      <td><%= Team.find(m_info.awayTeam).team_name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<p>
