# coding: utf-8  
<% provide(:title, @user.first_name) %>
<div class = "row">
  <aside class = "span4">
    <section>	
      <h1>
        <%= gravatar_for @user %>
        <%= @user.first_name %>
        <%= @user.last_name %>
      </h1>
    </section>
  </aside>
</div>
<%= render 'shared/wattball_or_hurdles' %>

<% if current_user.sport == "wattball" %>
<% if free_tickets_today(current_user.id) %>
<% ticket_t = {ticket: {first_name: current_user.first_name,last_name: current_user.last_name,email:"saadarif006@gmail.com",order_id: generate_ticket_id,adult_tickets_bought: 1, concession_tickets_bought: 0,ticket_date: Date.today,ticket_type: "free"}} %>

<%= link_to "Send free tickets", tickets_send_mail_path(ticket_t),method: :post%>

<% end %>
<% end %>



<p> Participants Related to <%= @user.first_name %></p>
  <table class ="table">
    <% if current_user.sport == "hurdles" %>
    <thead>
      <tr>
	<th>Name</th>
	<th>Qualification</th>
      </tr>
    </thead>
      <tbody>
	<% @user.hurdles.each do |hurdle| %>
	<tr>
	  <td><%= hurdle.first_name + " " + hurdle.last_name %></td>
	  <td><%= hurdle.qualification %>
	</tr>
	<% end %>
	<tr>
      </tbody>
  </table>
<% end %>
 <% if current_user.sport == "wattball" %>
    <thead>
      <tr>
	<th>Name</th>
      </tr>
    </thead>
      <tbody>
	<% @user.teams.each do |team| %>
	<tr>
	  <td><%= team.team_name %></td>
	</tr>
	<% end %>
      </tbody>
  </table>
<p>

<% end %>


<% if current_user.sport == "wattball" %>
  <table class ="table">
    <thead>
      <tr>
	<th>Time</th>
      </tr>
    </thead>
    <tbody>
      <% t_id = Team.find_by_user_id(@user.id).id %>
      <% m = Match.arel_table %>
      <% match = Match.where(m[:homeTeam].eq(t_id).or(m[:awayTeam].eq(t_id))) %>
      <% match.each do |m_info| %>
      <tr>
	<td><%= m_info.when %></td>
	<td><%= Team.find(m_info.homeTeam).team_name %></td>
	<td><%= Team.find(m_info.awayTeam).team_name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
<p>
