# coding: utf-8  

<script type = "text/javascript" >
  function calculate_price(adult,concession,display,adult_ticket_price,concession_ticket_price)
  {
  var a = document.getElementById(adult).value;
  var c = document.getElementById(concession).value;
  document.getElementById(display).innerHTML = "£ " + ((a*adult_ticket_price) + c*(concession_ticket_price));
  }
</script>
<%= form_for ([:admin, @ticket]) do |f| %>
	<%= render 'shared/error_messages', entity: @ticket %>
	<p>
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>

		<%= f.label :last_name %>
		<%= f.text_field :last_name %>

		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :address %>
		<%= f.text_field :address %>
		
		<%= f.label :adult_tickets %>
		<%= f.number_field :adult_tickets_bought , in: 0..10, step: 1, value: 0,onchange: "calculate_price('ticket_adult_tickets_bought','ticket_concession_tickets_bought',1,10,5)"%>

		<%= f.label :concession_tickets %>
		<%= f.number_field :concession_tickets_bought , in: 0..10, step: 1, value: 0,onchange: "calculate_price('ticket_adult_tickets_bought','ticket_concession_tickets_bought',1,10,5)"%>
		
		<%= f.hidden_field :order_id, value: generate_ticket_id() %>
		<%= f.label :total_price %> <%=f.label :amount, "£ 0", id: 1 %>
  
  	</p>
	<p><%= f.submit %></p>
<% end %>
