<%= form_for(@umpire) do |f| %>
  <% if @umpire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@umpire.errors.count, "error") %> prohibited this umpire from being saved:</h2>

      <ul>
      <% @umpire.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
