<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :when %><br />
    <%= f.datetime_select :when %>
  </div>
  <div class="field">
    <%= f.label :homeTeam %><br />
    <%= f.text_field :homeTeam %>
  </div>
  <div class="field">
    <%= f.label :awayTeam %><br />
    <%= f.text_field :awayTeam %>
  </div>
  <div class="field">
    <%= f.label :pitch %><br />
    <%= f.number_field :pitch %>
  </div>
  <div class="field">
    <%= f.label :umpire %><br />
    <%= f.text_field :umpire %>
  </div>
  <div class="field">
    <%= f.label :homeGoals %><br />
    <%= f.number_field :homeGoals %>
  </div>
  <div class="field">
    <%= f.label :awayGoals %><br />
    <%= f.number_field :awayGoals %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
