<% provide(:title, "Show user") %>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %> <br>

  <strong>Last Name:</strong>
  <%= @user.last_name %> <br>

  <strong>Email Address:</strong>
  <%= @user.email %> <br>

  <strong>Address:</strong>
  <%= @user.address %> <br>
  
  <strong>Telephone:</strong>
  <%= @user.telephone %> <br>
  
  <strong>Sport:</strong>
  <%= @user.sport %> <br>

</p>

<p>
  <%= link_to "Edit", edit_admin_user_path(@user) %> |
  <%= link_to "Delete", admin_user_path(@user), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_users_path %>
</p>
