<% provide(:title, "Show user") %>
<p>
  <strong>First Name:</strong>
  <%= @user.first_name %> <br>

  <strong>Last Name:</strong>
  <%= @user.last_name %> <br>

  <strong>Email Address:</strong>
  <%= @user.email %> <br>

  <strong>Address:</strong>
  <%= @user.address %> <br>
  
  <strong>Telephone:</strong>
  <%= @user.telephone %> <br>
  
  <strong>Sport:</strong>
  <%= @user.sport %> <br>

<p> Participants Related to <%= @user.first_name %></p>
<table class ="table table-striped" border = "3" cellpadding = "3" align = "center">
    <% if @user.sport == "hurdles" %>
    <thead>
      <tr>
	<th>Name</th>
	<th>Qualification</th>
      </tr>
    </thead>
      <tbody>
	<% @user.hurdles.each do |hurdle| %>
	<tr>
	  <td><%= hurdle.first_name + " " + hurdle.last_name %></td>
	  <td><%= hurdle.qualification.strftime("%H:%M:%S") %>
	</tr>
	<% end %>
	<tr>
      </tbody>
  </table>
  <% end %>

 <% if @user.sport == "wattball" %>
<% t_id= 0 %>
    <thead>
      <tr>
	<th>Team Name</th>
      </tr>
    </thead>
      <tbody>
	<% @user.teams.each do |team| %>
	<tr>
	  <td><%= team.team_name %></td>
             <% t_id = team.id %>
	</tr>
	<% end %>
	<tr>
      </tbody>
  </table>

<table class ="table table-striped" border = "3" cellpadding = "3" align = "center">
    <thead>
      <tr>
	<th>First Name</th>
	<th>Last Name</th>
             <th>Amount</th>
      </tr>
             </thead>
      <tbody>
             <% @players = Wattball.where(["team_id = ?",t_id]) %>
	<% @players.each do |p| %>
	<tr>
      <td><%= p.first_name  %></td>
             <td><%= p.last_name  %></td>
             <% if Score.where(["wattball_id = ?",p.id]).any? %>
                    <td><%= Score.find_by_wattball_id(p.id).amount %></td>
                    </tr>
<% else %>
       <td>0</td>                    
	<% end %>


<% end %>
	<tr>
      </tbody>
  </table>

<p>

<% end %>

<%= link_to "Edit", edit_admin_user_path(@user) %> |
<%= link_to "Destroy", admin_hurdle_path(@user), :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to "View All", admin_users_path %>
</p>
