<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" >&nbsp&nbsp&nbspAdministration</a>
    <ul class="nav">
      <li><%= link_to 'Home', root_path %></li>
      <li id="fat-menu" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Manage Users <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Manage Users', admin_users_path %> </li>
          <li><%= link_to 'Manage Umpires', admin_umpires_path %> </li>
          <% if is_admin? %>
            <li><%= link_to "Manage Staff", admin_staffs_path %></li>
          <% end %>
        </ul>
      </li>
      <li id="fat-menu" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Manage Participants <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Manage Teams', admin_teams_path %> </li>
          <li><%= link_to 'Manage Hurdlers', admin_hurdles_path %> </li>
        </ul>
      </li>
      <li id="fat-menu" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Manage Schedules <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to 'WattBall', admin_matches_path %> </li>
          <li><%= link_to 'Hurdles', admin_tournament_path(1) %> </li>
        </ul>
      </li>
      <li><%= link_to 'Manage Tournament', edit_admin_tournament_path(1) %> </li>
      <li><%= link_to 'Manage Tickets', admin_tickets_path %> </li>
      <li><%= link_to "Sign out", admin_staffsignout_path, method: "delete" %></li>
    </ul>
  </div>
</div>
