<h1>Listing umpires</h1>

<table>
  <tr>
    <th>First name </th>
    <th>Last name </th> 
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @umpires.each do |umpire| %>
  <tr>
    <td><%= umpire.first_name %></td>
    <td><%= umpire.last_name %></td>
    <td><%= link_to 'Show', [:admin,umpire] %></td>
    <td><%= link_to 'Edit', edit_admin_umpire_path(umpire) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Umpire', new_admin_umpire_path %>
